# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\phani\Desktop\UWindsor\3rd SEM\Internet Applications & Distributed Systems\projects\mysiteF20\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
